<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let p of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ p.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div class="post-img">
        <img [src]="p.imagePath" [alt]="p.title" />
      </div>
    </mat-panel-description>
    <p [innerHtml]="p.content" class="post-content"></p>
    <mat-action-row *ngIf="isAuthenticated$ | async">
      <button mat-mini-fab color="primary" [routerLink]="['/edit', p.id]">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="onDelete(p.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
  No posts added yet!
</p>
